
@{
    ViewBag.Title = "Completed";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container py-4 my-4 shadow rounded">
	<h2 class="text-warning font-weight-bold" style="text-shadow:1px 1px 4px #000">You succefully singed up!!</h2>
	<p class="text-muted">Now you can order whatever you want in our online shop.</p>
</div>

