
@{
    ViewBag.Title = "Completed";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container py-4 my-4 shadow rounded">
	<h2 class="text-warning font-weight-bold" style="text-shadow:1px 1px 4px #000">Thank you!</h2>
	<p class="text-muted">Thank you for choosing us! The order is going to be shipped as soon as possible.</p>
</div>

