@using TelecommunicationDevicesStore.WebUI.Models
@model List<CategoryIndexModel>
@{
	var categories = Model;
}

	@foreach (var cat in categories)
	{
<section>
	@Html.ActionLink(cat.Name, "GategoryProducts", "Product",
							routeValues: new PageModel
							 {
								CategoryName = cat.Name,
								ActionName = "GategoryProducts",
								ControllerName = "Product",
								ElementsCount = cat.ProductsCount
							 },
							htmlAttributes: new { })
</section>
	}