<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="viewport" content="initial-scale=1, maximum-scale=1">
	<title>Lighten - @ViewBag.Title</title>
	<meta name="keywords" content="">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="stylesheet" href="/Content/css/bootstrap.min.css">
	<link rel="stylesheet" href="/Content/css/style.css">
	<link rel="stylesheet" href="/Content/css/responsive.css">
	<link href="/Content/css/errorStyles.css" rel="stylesheet" />
	<link rel="icon" href="/Content/images/fevicon.png" type="image/gif" />
	<link rel="stylesheet" href="/Content/css/jquery.mCustomScrollbar.min.css">
	<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
</head>
<body class="main-layout">
	@RenderBody()
	<!-- Javascript files-->
	<script src="/Scripts/jquery.min.js"></script>
	<script src="/Scripts/popper.min.js"></script>
	@RenderSection("ValidationSection", false)
	<script src="/Scripts/bootstrap.bundle.min.js"></script>
	<script src="/Scripts/jquery-3.0.0.min.js"></script>
	<script src="/Scripts/plugin.js"></script>
	<!-- sidebar -->
	<script src="/Scripts/jquery.mCustomScrollbar.concat.min.js"></script>
	<script src="/Scripts/custom.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js" integrity="sha512-uURl+ZXMBrF4AwGaWmEetzrd+J5/8NRkWAvJx5sbPSSuOb0bZLqf+tOzniObO00BjHa/dD7gub9oCGMLPQHtQA==" crossorigin="anonymous"></script>
</body>
</html>

