
<nav class="sidebar sidebar-offcanvas" id="sidebar">
	<ul class="nav">

		<li class="nav-item">
			<a class="nav-link menu-title" href="index.html">
				Dashboard
			</a>
		</li>

		@*<li class="nav-item">
			<a class="nav-link" data-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
				<i class="ti-user menu-icon"></i>
				<span class="menu-title">User Pages</span>
				<i class="menu-arrow"></i>
			</a>
			<div class="collapse" id="auth">
				<ul class="nav flex-column sub-menu">
					<li class="nav-item"> <a class="nav-link" href="pages/samples/login.html"> Login </a></li>
					<li class="nav-item"> <a class="nav-link" href="pages/samples/login-2.html"> Login 2 </a></li>
					<li class="nav-item"> <a class="nav-link" href="pages/samples/register.html"> Register </a></li>
					<li class="nav-item"> <a class="nav-link" href="pages/samples/register-2.html"> Register 2 </a></li>
					<li class="nav-item"> <a class="nav-link" href="pages/samples/lock-screen.html"> Lockscreen </a></li>
				</ul>
			</div>
		</li>*@
	</ul>
</nav>
