@using TelecommunicationDevicesStore.WebUI.Models
@model List<ProductIndexModel>
@{
		var allProducts = Model;
		string category = allProducts.FirstOrDefault().CategoryName;
		ViewBag.Title = $"Products - {category}";
		Layout = "~/Views/Shared/_Layout.cshtml";
		var pageModel = new PageModel
		{
			ControllerName = "Product",
			ActionName = "GategoryProducts",
			CategoryName = category,
			ElementsCount = allProducts.Count()
	};
}

<div class="brand_color">
	@{ Html.RenderPartial("_PageTitlePartial", category);}
</div>

<div class="product-bg">
	<div class="product-bg-white">
		<div class="container">
			<div class="row">
				@foreach (var product in allProducts)
				{
					{ Html.RenderPartial("_SingleProductPartial", product); }
				}
			</div>
			<div class="row">
				<div class="col">
					<div class="block-27 text-dark">
						@Html.Action("Paging", "Pagination", routeValues: new { pageModel })
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


