@using TelecommunicationDevicesStore.WebUI.Models
@model List<ProductIndexModel>
@{
	ViewBag.Title = "Products";
	Layout = "~/Views/Shared/_Layout.cshtml";
	var allProducts = Model;
	var pageModel = new PageModel
	{
		ControllerName = "Product",
		ActionName = "Index",
		ElementsCount = 0,
		CategoryName = ""
	};
}

<div class="brand_color">
	@{ Html.RenderPartial("_PageTitlePartial", "our products");}
</div>

<div class="product-bg">
	<div class="product-bg-white">
		<div class="container">
			<div class="row">
				@foreach (var product in allProducts)
				{
					{ Html.RenderPartial("_SingleProductPartial", product); }
				}
			</div>
			<div class="row">
				<div class="col">
					<div class="block-27 text-dark">
						@Html.Action("Paging", "Pagination", routeValues: new { model = pageModel })
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

