/*--------------------------------------------------------------------- File Name: responsive.css ---------------------------------------------------------------------*/


/*------------------------------------------------------------------- 991px x 768px ---------------------------------------------------------------------*/

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .main-menu ul>li a {
        padding: 20px 20px 20px;
    }
    .header-search {
        padding: 15px 0px;
    }
    .top-box {
        display: flex;
        justify-content: center;
        gap: 10px;
    }
    .header{
       padding-bottom: 35px;
    }
}


/*------------------------------------------------------------------- 767px x 599px ---------------------------------------------------------------------*/

@media only screen and (min-width: 599px) and (max-width: 767px) {
    .header {
        padding-bottom: 35px;
    }
    .logo {
        text-align: center;
    }
    .cart-content-right {
        padding-bottom: 5px;
    }
    .mg {
        margin: 0px 0px;
    }
    .menu-area-main {
        height: 256px;
        overflow-y: auto;
    }
    .megamenu>.row [class*="col-"] {
        padding: 0px;
    }
    .menu-area-main .megamenu .men-cat {
        padding: 0px 15px;
    }
    .menu-area-main .megamenu .women-cat {
        padding: 0px 15px;
    }
    .menu-area-main .megamenu .el-cat {
        padding: 0px 15px;
    }
    .mean-container .mean-nav ul li a.mean-expand {
        height: 19px;
    }
    .category-box.women-box {
        display: none;
    }
    .cart-box {
        display: inline-block;
        margin: 0px 30px;
    }
    .wish-box {
        float: none;
        margin: 0px 30px;
        display: inline-block;
    }
    .menu-add {
        display: none;
    }
    .category-box {
        display: none;
    }
    .mean-container .mean-nav ul li ol {
        padding: 0px;
    }
    .mean-container .mean-nav ul li a {
        padding: 10px 20px;
        width: 94.8%;
    }
    .mean-container .mean-nav ul li li a {
        width: 92%;
        padding: 1em 4%;
    }
    .mean-container .mean-nav ul li li li a {
        width: 100%;
    }
    .header-search {
        padding: 15px 0px;
    }
    #collapseFilter.d-md-block {
        padding: 30px 0px;
    }
    .top-box {
        display: flex;
        justify-content: center;
        gap: 10px;
    }
}


/*------------------------------------------------------------------- 599px x 280px ---------------------------------------------------------------------*/

@media only screen and (min-width: 280px) and (max-width: 599px) {
    .header {
        padding-bottom: 35px;
    }
    .cart-content-right {
        padding-bottom: 5px;
    }
    .megamenu>.row [class*="col-"] {
        padding: 0px;
    }
    .menu-area-main .megamenu .men-cat {
        padding: 0px 15px;
    }
    .menu-area-main .megamenu .women-cat {
        padding: 0px 15px;
    }
    .menu-area-main .megamenu .el-cat {
        padding: 0px 15px;
    }
    .mean-container .mean-nav ul li a {
        padding: 1em 4%;
        width: 92%;
    }
    .mean-container .mean-nav ul li li a {
        width: 90%;
        padding: 1em 5%;
    }
    .mean-container .sub-full.megamenu-categories ol li a {
        padding: 5px 0px;
        text-transform: capitalize;
        width: 100%;
    }
    .megamenu .sub-full.megamenu-categories .women-box .banner-up-text a {
        width: auto;
        border: none;
        float: none;
    }
    .menu-area-main {
        height: 290px;
        overflow-y: auto;
    }
    .mean-container .mean-nav ul li a.mean-expand {
        top: 0;
    }
    .top-box {
        display: flex;
        justify-content: center;
        gap: 10px;
    }
}

@media (min-width: 1200px) and (max-width: 1500px) {
    .banner-main .carousel-caption {
        background: transparent;
    }
    .header {
        padding-bottom: 35px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .header {
        padding-bottom: 35px;
    }
    .main-menu ul > li a {
        padding: 26px 6px 0 6px;
    }
    .full-slider_cont h1 {
        font-size: 51px;
        line-height: 61px;
    }
    .mean-last {
/*        display: none !important;*/
    }
    .about .about-box h3 {
        font-size: 30px;
        line-height: 30px;
    }
    .banner-main .carousel-caption {
        background: transparent;
    }
    .relative {
        position: absolute;
        top: 44%;
        transform: translateY(-50%);
        bottom: 0;
        padding: 0;
    }
    .top-box {
        display: flex;
        justify-content: center;
        gap: 10px;
    }
    .banner-main .carousel-caption h1 {padding-top: 0px; font-size: 36px; line-height: 43px;}
    .footer .address h3 {
        font-size: 20px;
    }
    ul.contant_icon li {
        padding-right: 5px;
    }
    ul.socil_link li {
        padding-right: 20%;
    }
    ul.contant_icon li img {
        width: 26px;
        height: 26px;
    }
    .choose_bg .white_bg .for_box h3 {font-size: 22px;}
    .choose_bg .white_bg .for_box p {font-size: 16px;}
    .product-bg .product-bg-white .product-box h3 {font-size: 13px;}
    .yellow_bg .yellow-box a {margin-left: 0px;}
    .contact h3 {font-size: 24px;}
}

@media (min-width: 768px) and (max-width: 991px) {
    .header {
        padding-bottom: 35px;
    }
    .main-menu ul > li a {
        padding: 13px 6px 0 6px;
    }
    .full-slider_cont h1 {
        font-size: 40px;
        line-height: 50px;
    }
    
  .buy {display: none;}
    .banner-main .carousel-caption {
        background: transparent;
    }
    .relative {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        padding: 0;
        border: 0 aliceblue;
        bottom: 0;
    }
    .banner-main .carousel-caption h1 {
        color: #fff;
        font-size: 32px;

     line-height: 37px;
      
        padding-top: 0px;
    }
    .banner-main .carousel-caption p {
        font-size: 15px;

    padding: 1px 0px 1px 0px;
    }
    .banner-main .carousel-caption a {
        width: 182px;
        padding: 8px 0;
    }
    .top-box {
        display: flex;
        justify-content: center;
        gap: 10px;
    }
    .main_bt {
        margin-right: 15px;
        padding: 10px 41px 10px 41px;
    }
 
    .title h2 {font-size: 47px;}
     .title span {font-size: 21px;}
   
     .service .service-box h3 {font-size: 17px;}

    .yellow_bg .yellow-box a {margin-left: 0px; padding: 16px 39px;}
    ul.socil_link li {
        padding-right: 15%;
    }
    .footer .newsletter .subscribe {
        padding: 21px 0;
        width: 113px;
    }
    .address {

    margin-bottom: 30px;}
.carousel-item img {
        width: 100%;
        height: 400px;
   
}
}

@media (min-width: 576px) and (max-width: 767px) {
    .header {
     
        padding-top: 0px;
    }
    .mean-container .mean-bar {
        margin-top: 0px;
        margin-bottom: 10px;
    }
    .relative {
        position: absolute;
        top: 39%;
        transform: translateY(-50%);
        padding: 0;
        bottom: 0;
    }
    .banner-main .carousel-caption {
        background: transparent;
    }
    .banner-main .carousel-caption h1 {

    font-size: 45px;
    line-height: 50px;
    color: #fff;
    padding-top: 0px;
}
    .banner-main .carousel-caption p {
        font-size: 17px;
        padding: 0px 0px 0px 0px;
    }
    .carousel-item img {
        width: 100%;
        height: 400px;
    }
   
     .head_top {
        padding: 10px 0;
    }
     .top-box{
         display: flex;
         justify-content: center;
         gap: 10px;
     }
    .singin {
        text-align: center;
        padding: 10px 0;
    }
    .singin a{
         font-size: 12px;
    }
    .buy {display: none; } 
    
    .choose_bg .white_bg .for_box {margin-bottom: 30px;}
    .read-more {margin-top: 10px;}
    .address {
        margin-bottom: 30px;
    }
    ul.contant_icon {
        margin-bottom: 20px;
    }
}

@media (max-width: 575px) {
    .header {
        padding-bottom: 0px !important;
    }
    .logo {
        text-align: center !important;
        padding-bottom: 25px;
        float: inherit;
    }
    #main_slider .carousel-control-prev,
    #main_slider .carousel-control-next {
        width: 40px;
        height: 40px;
    }
    .relative {
        position: absolute;
        top: 37%;
        background: transparent;
        transform: translateY(-50%);
        padding: 0;
        bottom: 0;
    }
    .banner-main .carousel-caption h1 {
        font-size: 40px;
        line-height: 50px;
       margin-bottom: 1px;
       color: #fff;
    }
    .banner-main .carousel-caption p {
        font-size: 17px;
        padding: 7px 0px 20px 0px;
        display: none;
    }
    .banner-main .carousel-caption a {margin-top: 0px;}
    .carousel-item img {
        width: 100%;
        height: 250px;
    }
   
    .mean-container .mean-bar {
        margin-top: 0;
        margin-bottom: 10px;
    }
    .mean-last {

    }
    .head_top {
        padding: 10px 0;
    }
    .top-box {
        display: flex;
        justify-content: center;
        gap: 20px;
    }

   .singin {
        text-align: center;
        padding: 10px 0;
    }
    .singin a {
        width: 100%;
        font-size: 14px;
    }
    .buy {
        display: none;
    } 
    .main_bt {
        padding: 5px 24px 5px 24px;
        margin-right: 10px;
    }
    .title h2 {font-size: 34px; line-height: 47px;}
    .title span {font-size: 21px;}
    .choose_bg .white_bg .for_box {margin-bottom: 30px;}
    .read-more {margin-top: 10px;}
    .product .title h2 {font-size: 40px;}
    .product .title span {font-size: 21px;}
   .Clients_bg_white .title h3 {font-size: 31px; line-height: 37px;}
   .yellow_bg .yellow-box h3 {font-size: 20px;}
   .yellow_bg .yellow-box i {display: inline-block;} 
    .read-more a {
        width: 192px;
        padding: 12px 0px;
        font-size: 16px;
    }
    .yellow_bg .yellow-box a {font-size: 21px; line-height: 25px; padding: 16px 55px; margin-left: 0px;}
    .address {
        margin-bottom: 30px;
    }
    .copyright p {
        font-size: 16px;
        padding: 0 15px;
    }
    .footer .newsletter .subscribe {
        width: 120px;
        padding: 21px 0;
    }
    ul.contant_icon {
        margin-bottom: 20px;
    }
}