
<div class="col-xl-7 col-lg-7 col-md-7 col-sm-12">
	<div class="yellow-box">
		<h3>Contact Us<i><img src="/Content/icons/calll.png" /></i></h3>

		<p>Get answers and advice from people you want it from.</p>
	</div>
</div>
<div class="col-xl-5 col-lg-5 col-md-5 col-sm-12">
	<div class="yellow-box">
		<a href="contact.html">Contact Us</a>
	</div>
</div>