
@{
	ViewBag.Title = "Home Page";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="slider_section">
	<div id="main_slider" class="carousel slide banner-main" data-ride="carousel">
		@Html.Action("CarouselItems", "Home")
		<a class="carousel-control-prev" href="#main_slider" role="button" data-slide="prev">
			<i class='fa fa-angle-right'></i>
		</a>
		<a class="carousel-control-next" href="#main_slider" role="button" data-slide="next">
			<i class='fa fa-angle-left'></i>
		</a>
	</div>
</section>

<!-- service -->
<div class="service">
	<div class="container">
		<div class="row">
			<div class="col-md-8 offset-md-2">
				<div class="title">
					<h2>Service <strong class="black">Process</strong></h2>
					<span>Easy and effective way to get your device repair</span>
				</div>
			</div>
		</div>
		<div class="row">
			@Html.Action("Services", "Home")
		</div>
	</div>
</div>
<!-- end service -->
<!-- our product -->
<div class="product">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="title">
					<h2>our <strong class="black">popular products</strong></h2>
					<span>We package the products with best services to make you a happy customer.</span>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="product-bg">
	<div class="product-bg-white">
		<div class="container">
			<div class="row">
				@Html.Action("PopularProduct", "Product")
			</div>
		</div>
	</div>
	<div class="Clients_bg_white">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="title">
						<h3>What Clients Say?</h3>
					</div>
				</div>
			</div>
			<div id="client_slider" class="carousel slide banner_Client" data-ride="carousel">
				<ol class="carousel-indicators">
					<li data-target="#client_slider" data-slide-to="0" class="active"></li>
					<li data-target="#client_slider" data-slide-to="1"></li>
					<li data-target="#client_slider" data-slide-to="2"></li>
				</ol>
				<div class="carousel-inner">
					<div class="carousel-item active">
						<div class="container">
							<div class="carousel-caption text-bg">
								<div class="img_bg">
									<i><img src="/Content/images/lllll.png" /><span>Jone Due<br><strong class="date">12/02/2019</strong></span></i>

								</div>

								<p>
									You guys rock! Thank you for making it painless, pleasant and most of all hassle free! I wish I would have thought of it first. I am really satisfied with my first laptop service.<br>
									You guys rock! Thank you for making it painless, pleasant and most of all hassle free! I wish I would have thought of it first. I am
								</p>

							</div>
						</div>
					</div>
					<div class="carousel-item">
						<div class="container">
							<div class="carousel-caption text-bg">
								<div class="img_bg">
									<i><img src="/Content/images/lllll.png" /><span>Jone Due<br><strong class="date">12/02/2019</strong></span></i>

								</div>
								<p>
									You guys rock! Thank you for making it painless, pleasant and most of all hassle free! I wish I would have thought of it first. I am really satisfied with my first laptop service.<br>
									You guys rock! Thank you for making it painless, pleasant and most of all hassle free! I wish I would have thought of it first. I am
								</p>

							</div>
						</div>
					</div>
					<div class="carousel-item">
						<div class="container">
							<div class="carousel-caption text-bg">
								<div class="img_bg">
									<i><img src="/Content/images/lllll.png" /><span>Jone Due<br><strong class="date">12/02/2019</strong></span></i>

								</div>
								<p>
									You guys rock! Thank you for making it painless, pleasant and most of all hassle free! I wish I would have thought of it first. I am really satisfied with my first laptop service.<br>
									You guys rock! Thank you for making it painless, pleasant and most of all hassle free! I wish I would have thought of it first. I am
								</p>

							</div>
						</div>
					</div>
				</div>

			</div>

		</div>
	</div>

	<div class="container">
		<div class="yellow_bg">
			<div class="row">
				<div class="col-xl-7 col-lg-7 col-md-7 col-sm-12">
					<div class="yellow-box">
						<h3>Contact Us<i><img src="/Content/icons/calll.png" /></i></h3>

						<p>Get answers and advice from people you want it from.</p>
					</div>
				</div>
				<div class="col-xl-5 col-lg-5 col-md-5 col-sm-12">
					<div class="yellow-box">
						<a href="contact.html">Contact Us</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- end our product -->
<!-- map -->
<div class="container-fluid padi">
	<div class="map">
		<img src="/Content/images/mapimg.jpg" alt="img" />
	</div>
</div>
<!-- end map -->

